.grass-blade {
  width: 0; /* No width, only height and borders create the shape */
  border-left: 0.8vh solid transparent; /* Create the left side */
  border-right: 0.8vh solid transparent; /* Create the right side */
  border-bottom: 4vh solid green; /* Create the blade color */
  transform-origin: bottom;
  animation: sway-all 5s infinite cubic-bezier(0.42, 0, 0.58, 1);
  z-index: 1000;
}

.grass-blade::before {
  content: ""; /* Required for pseudo-elements */
  width: 0;
  height: 0;
  border-left: 0.8vh solid transparent; /* Create the left side of the new triangle */
  border-right: 0.8vh solid transparent; /* Create the right side of the new triangle */
  border-bottom: 4vh solid green; /* Create the color of the new triangle */
}

/* Classes for different sway animations */
.divisible-by-2 {
  animation: sway-divisible-by-2 4s infinite cubic-bezier(0.42, 0, 0.58, 1);
}

.divisible-by-3 {
  animation: sway-divisible-by-3 5s infinite cubic-bezier(0.42, 0, 0.58, 1);
}

.divisible-by-5 {
  animation: sway-divisible-by-5 7s infinite cubic-bezier(0.42, 0, 0.58, 1);
}

.divisible-by-7 {
  animation: sway-divisible-by-7 10s infinite cubic-bezier(0.42, 0, 0.58, 1);
}

/* Keyframes for sway animations */
@keyframes sway-all {
  0% {
    transform: rotate(-20deg);
  }
  50% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(-20deg);
  }
}

@keyframes sway-divisible-by-2 {
  0% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}

@keyframes sway-divisible-by-3 {
  0% {
    transform: rotate(-8deg);
  }
  50% {
    transform: rotate(8deg);
  }
  100% {
    transform: rotate(-8deg);
  }
}

@keyframes sway-divisible-by-5 {
  0% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(-5deg);
  }
}

@keyframes sway-divisible-by-7 {
  0% {
    transform: rotate(-25deg);
  }
  50% {
    transform: rotate(25deg);
  }
  100% {
    transform: rotate(-25deg);
  }
}
