.crust-gradient {
  background: brown;
}

.main-section {
  height: 80vh;
  display: flex;
  flex-direction: column;
  font-family: "baloo 2", cursive, sans-serif;
}

.ace-container,
.title,
.subtitle,
.instructions,
.filler {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* outline: 0.2vh solid red; */
}

.title h1 {
  font-size: 8vh;
  margin: 0;
}

.subtitle h2 {
  font-size: 2.5vh;
  font-weight: 500;
  margin: -4vh 0 0 0;
}

.grass-container {
  flex: 1;
  display: flex;
  background-color: #a2c2e4;
}

.intro {
  color: white;
  flex: 20;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.grass-left,
.grass-middle,
.grass-right {
  flex: 2;
}

.grass-left,
.grass-right,
.grass-middle-top {
  display: flex;
  overflow: hidden;
}

.grass-middle {
  flex: 1.75;
  display: flex;
  flex-direction: column;
}

.grass-middle-top,
.grass-middle-bottom {
  flex: 1;
}

.grass-middle-bottom {
  background-color: white;
}

.ace-container {
  flex: 2.5;
  display: flex;
}

.ace-left,
.ace-cage,
.ace-right {
  flex: 2;
  height: 100%;
}

.ace-cage {
  flex: 1.75;
  border: 0.3vh solid white;
  display: flex;
  align-items: end;
  justify-content: center;
}

.ace {
  font-size: 10vh;
}

.instructions {
  flex: 4;
  flex-direction: column;
  font-size: 2.5vh;
}

.instruction-1,
.instruction-2,
.instruction-3 {
  flex: 1;
  display: flex;
  align-items: end;
  text-decoration: underline;
  text-underline-offset: 1.25vh;
  text-decoration-color: yellow;
}

.instruction-1 p,
.instruction-2 p,
.instruction-3 p {
  margin: 0;
}

.filler {
  flex: 1.5;
}

/*=============== Media Queries ===============*/
/* For larger screens */
@media (min-width: 768px) {
  .ace-cage {
    flex: 1.25;
  }

  .ace-container {
    flex: 3;
  }

  .title h1 {
    font-size: 10vh;
    margin: 0;
  }

  .subtitle h2 {
    font-size: 2.5vh;
  }

  .grass-middle {
    flex: 1.25;
  }
}

@media (min-width: 1024px) {
  .ace-cage {
    flex: 1;
  }

  .ace-container {
    flex: 3;
  }

  .title h1 {
    font-size: 10vh;
  }

  .subtitle h2 {
    font-size: 3vh;
  }

  .grass-middle {
    flex: 1;
  }
}
