.crust {
  background: linear-gradient(
    to bottom,
    #d2b48c,
    /* Tan, representing continental crust */ #a0522d,
    /* Sienna, representing rocks like granite */ #8b4513,
    /* Saddle Brown, representing sedimentary rocks */ #c0c0c0,
    /* Silver, representing lighter crustal rocks */ #f5f5f5
      /* White Smoke, for a light and weathered appearance */
  );
}

.main-section {
  height: 80vh;
  display: flex;
  flex-direction: column;
}

.earths-surface {
  color: white;
  /* outline: 0.1vh solid black; */
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grass-container {
  flex: 0.2;
  display: flex;
  /* outline: 0.1vh solid red; */
}

.grass-left,
.grass-middle,
.grass-right {
  flex: 2;
  /* outline: 0.1vh solid red; */
}

.grass-middle {
  /* outline: 0.1vh solid red; */
  flex: 1.75;
  display: flex;
  flex-direction: column;
}

.grass-middle-top,
.grass-middle-bottom {
  flex: 1;
  outline: 0.1vh solid red;
}

.intro {
  color: white;
  /* outline: 0.1vh solid black; */
  flex: 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ace-animation,
.title,
.subtitle,
.welcome {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ace-animation {
  flex: 5;
  display: flex;
}

.ace-left,
.ace-cage,
.ace-right {
  /* outline: 0.1vh solid white; */
  flex: 2;
  height: 100%;
}

.ace-cage {
  flex: 1.75;
  border: 0.1vh solid white;
  display: flex;
  align-items: end;
  justify-content: center;
}

.ace {
  font-size: 10vh;
}

.welcome {
  flex: 10;
}
