.popup-overlay {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background: white;
  padding: 2vh;
  border-radius: 1.5vh;
  width: 80vw;
  color: black;
  text-align: center;
}

.short-description,
.option {
  font-weight: 500;
}

.close-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 1vh 2vh;
  border-radius: 1.5vh;
  cursor: pointer;
  font-size: 2.5vh;
}

.close-button:hover {
  background-color: #0056b3;
}

.menu-button {
  width: 8vh;
}
