.popup-overlay {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background: white;
  padding: 2vh;
  padding-top: 0vh;
  border-radius: 1.5vh;
  width: 80vw;
  color: black;
  text-align: center;
  display: flex;
  flex-direction: column;
  font-weight: 500;
}

.content-item p {
  margin: 1vh;
}

.content-item {
  /* outline: 0.2vh solid red; */
}

.menu-item {
  /* outline: 0.2vh solid green; */
}

.content-item p {
  margin: 1vh;
}

.option {
  display: flex;
  text-align: left;
  margin: 0;
}

.short-description {
  font-weight: 500;
  margin: 0;
  margin-top: -3vh;
}

.bolder-font {
  font-weight: 900;
}

.option-1 {
  margin-top: -1vh;
}

.option-1-1,
.option-1-2 {
  flex: 1;
  border: 0.2vh solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.option-1-2 {
  flex: 8;
  border-left: none;
  justify-content: start;
}

.option-2-1,
.option-2-2 {
  flex: 1;
  border: 0.2vh solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.option-2-1 {
  border-top: none;
}

.option-2-2 {
  flex: 8;
  border-left: none;
  border-top: none;
  justify-content: start;
}

.features {
  margin-top: 1vh;
}

.menu-button {
  width: 7vh;
}

.close-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 1vh 2vh;
  border-radius: 1.5vh;
  cursor: pointer;
  font-size: 2.5vh;
}

.close-button:hover {
  background-color: #0056b3;
}
