.sky-container {
  height: 10015vh;
}

.sky-gradient {
  background: linear-gradient(
    to top,
    #a2c2e4,
    #7f9bb3,
    #4b6a9d,
    #2e3a5a,
    #000000,
    #000000,
    #000000,
    #666666,
    #999999,
    #cccccc,
    #ffffff
  );
}

.earths-surface {
  color: white;
  /* outline: 0.1vh solid black; */
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
