.troposphere-container {
  height: 115vh;
  border-top: 0.2vh solid black;
  display: flex;
  flex-direction: column;
  position: relative;
}

.balloon {
  position: absolute;
  bottom: 0vh;
  right: 5vh;
  width: 15vh;
}

/*=============== Media Queries ===============*/
/* For larger screens */
@media (min-width: 1024px) {
  .balloon {
    width: 20vh;
  }
}
