.troposphere-container {
  height: 115vh;
  border-top: 0.2vh solid black;
  display: flex;
  flex-direction: column;
  position: relative;
}

.balloon {
  position: absolute;
  bottom: 0vh;
  right: 5vh;
  width: 15vh;
  animation: sway 3s ease-in-out infinite;
}

.balloon-text {
  font-size: 2.5vh;
  position: absolute;
}

.balloon-text-1 {
  bottom: 17vh;
  right: 3.15vh;
}

.balloon-text-2 {
  bottom: 14vh;
  right: 2.75vh;
}

.waterfall {
  position: absolute;
  bottom: -7vh;
  left: 0vh;
  width: 15vh;
}

.waterfall-text {
  font-size: 2.5vh;
  position: absolute;
  bottom: 1vh;
  left: 0vh;
}

@keyframes sway {
  0% {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(-10px);
  }
}

/*=============== Media Queries ===============*/
/* For smaller screens */
@media (min-width: 390px) {
  .waterfall {
    bottom: -6.5vh;
    width: 13vh;
  }
}

@media (min-width: 414px) {
  .waterfall {
    bottom: -6vh;
    width: 14vh;
  }
}

/* For larger screens */
@media (min-width: 768px) {
  .waterfall {
    width: 16vh;
  }

  .waterfall-text {
    font-size: 2.5vh;
    bottom: 3vh;
    left: 0vh;
  }
}

@media (min-width: 1024px) {
  .balloon {
    width: 20vh;
  }

  .balloon-text-1 {
    bottom: 23vh;
    right: 5.5vh;
  }

  .balloon-text-2 {
    bottom: 20vh;
    right: 5vh;
  }

  .waterfall {
    width: 17vh;
    bottom: -5.5vh;
  }
}
