.troposphere-container {
  height: 115vh;
  border-top: 0.2vh solid black;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
}

.troposphere-container h2 {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 5vh;
  letter-spacing: 0.5vh;
  opacity: 0.3;
  text-shadow: 1vh 1vh 2vh black, 1vh 1vh 1vh black;
}

.balloon {
  position: absolute;
  bottom: 0vh;
  right: 5vh;
  width: 15vh;
  animation: sway 3s ease-in-out infinite;
}

.balloon-text {
  font-size: 2.5vh;
  position: absolute;
}

.balloon-text-1 {
  bottom: 17vh;
  right: 3.15vh;
}

.balloon-text-2 {
  bottom: 14vh;
  right: 2.75vh;
}

.waterfall {
  position: absolute;
  bottom: -7vh;
  left: 0vh;
  width: 15vh;
}

.waterfall-text {
  font-size: 2.5vh;
  position: absolute;
}

.waterfall-text-1 {
  bottom: 3.5vh;
  left: 3vh;
}

.waterfall-text-2 {
  bottom: 1vh;
  left: 1.5vh;
}

.burj {
  position: absolute;
  bottom: -7.5vh;
  left: 25vh;
  width: 8vh;
}

.burj-text {
  font-size: 2.5vh;
  position: absolute;
}

.burj-text-1 {
  bottom: 1.25vh;
  left: 18.75vh;
}

.burj-text-2 {
  bottom: -1.5vh;
  left: 15.75vh;
}

@keyframes sway {
  0% {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(-10px);
  }
}

/*=============== Media Queries ===============*/
/* For smaller screens */
@media (min-width: 360px) {
  .burj {
    bottom: -6.75vh;
    left: 23vh;
    width: 6vh;
  }
}

@media (width: 344px) and (height: 882px) {
  .balloon {
    bottom: 0vh;
    right: 3vh;
    width: 15vh;
  }

  .balloon-text-1 {
    right: 1.15vh;
  }

  .balloon-text-2 {
    right: 0.75vh;
  }

  .waterfall {
    width: 13vh;
    bottom: -6.5vh;
  }

  .burj {
    bottom: -6.5vh;
    left: 16vh;
    width: 6vh;
  }

  .burj-text-1 {
    bottom: 1.25vh;
    left: 13.75vh;
  }

  .burj-text-2 {
    bottom: -1.5vh;
    left: 10.75vh;
  }

  .troposphere-container h2 {
    font-size: 4vh;
  }
}

@media (min-width: 390px) {
  .balloon {
    bottom: 0vh;
    right: 3vh;
    width: 15vh;
  }

  .balloon-text-1 {
    right: 1.15vh;
  }

  .balloon-text-2 {
    right: 0.75vh;
  }

  .waterfall {
    bottom: -6.5vh;
    width: 13vh;
  }

  .burj {
    bottom: -6.75vh;
    left: 20vh;
    width: 6vh;
  }

  .burj-text-1 {
    bottom: 0.75vh;
    left: 15.25vh;
  }

  .burj-text-2 {
    bottom: -2vh;
    left: 13vh;
  }
}

@media (min-width: 414px) {
  .balloon {
    right: 2.5vh;
  }

  .balloon-text-1 {
    right: 0.65vh;
  }

  .balloon-text-2 {
    right: 0.25vh;
  }

  .waterfall {
    bottom: -6vh;
    width: 14vh;
  }

  .burj {
    bottom: -6.75vh;
    left: 20vh;
    width: 7vh;
  }

  .burj-text-1 {
    bottom: 1.25vh;
    left: 15.25vh;
  }

  .burj-text-2 {
    bottom: -1.5vh;
    left: 13vh;
  }
}

/* For larger screens */
@media (min-width: 768px) {
  .waterfall {
    width: 16vh;
    bottom: -5.5vh;
  }

  .waterfall-text-1 {
    bottom: 5.5vh;
    left: 5vh;
  }

  .waterfall-text-2 {
    bottom: 3vh;
    left: 3.5vh;
  }

  .burj {
    bottom: -5.75vh;
    left: 33vh;
    width: 8vh;
  }

  .burj-text-1 {
    bottom: 3.75vh;
    left: 28.75vh;
  }

  .burj-text-2 {
    bottom: 1vh;
    left: 25.75vh;
  }

  .troposphere-container h2 {
    font-size: 7vh;
    letter-spacing: 1vh;
  }
}

@media (min-width: 1024px) {
  .balloon {
    width: 20vh;
  }

  .balloon-text-1 {
    bottom: 23vh;
    right: 5.5vh;
  }

  .balloon-text-2 {
    bottom: 20vh;
    right: 5vh;
  }

  .waterfall {
    width: 17vh;
    bottom: -5.5vh;
  }

  .burj {
    bottom: -5vh;
    left: 33vh;
    width: 8vh;
  }

  .burj-text-1 {
    bottom: 4.75vh;
    left: 30vh;
  }

  .burj-text-2 {
    bottom: 2vh;
    left: 27vh;
  }
}

@media (min-width: 1280px) {
  .balloon-text-1 {
    bottom: 23vh;
    right: 3.5vh;
  }

  .balloon-text-2 {
    bottom: 20vh;
    right: 3vh;
  }

  .troposphere-container h2 {
    font-size: 10vh;
    letter-spacing: 1.5vh;
  }
}
