body {
  margin: 0;
}

.text-2d-effect {
  font-size: 4.5vh;
  text-shadow: 1vh 1vh 1vh grey, 1vh 1vh 1vh black;
  letter-spacing: 1.25vw;
}

/*=============== Media Queries ===============*/
/* For medium screens */
@media (min-width: 540px) {
  .text-2d-effect {
    font-size: 5vh;
    text-shadow: 1vh 1vh 1vh grey, 1vh 1vh 1vh black;
    letter-spacing: 1.5vw;
  }
}

/* For larger screens */
@media (min-width: 768px) {
  .text-2d-effect {
    font-size: 5.5vh;
    text-shadow: 1vh 1vh 1vh grey, 1vh 1vh 1vh black;
    letter-spacing: 1.5vw;
  }
}

@media (min-width: 1024px) {
  .text-2d-effect {
    font-size: 6vh;
    text-shadow: 1vh 1vh 1vh grey, 1vh 1vh 1vh black;
    letter-spacing: 1.5vw;
  }
}
